<!doctype html>

<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>

  <title>{% block title %}{% endblock %} - luxorbit</title>
  {% block head %}
  {% endblock %}
</head>

<body>
  <div class="container">
    <section class="content">
      <header>
        <h1>
          {% block header %}{% endblock %}
        </h1>
      </header>
      {% for category, message in get_flashed_messages(with_categories=true) %}
      <div id="alert" class="alert alert-{{ category }}">{{ message }}</div>
      {% endfor %}
      {% block content %}{% endblock %}
    </section>
  </div>
  {% block script %}
  <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
    crossorigin="anonymous"></script>
  <script>
    $("#alert").fadeTo(2000, 500).slideUp(500, function () {
      $("#alert").slideUp(500);
    });
  </script>
  {% endblock %}
</body>
