{% extends 'base.html' %}

{% block header %}
  {% block title %}
    Luxembourg Ultracycling Challenge
  {% endblock %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="column">
    <a style="width:100%" class="button button-outline" href="{{url_for('list_tracks', context='routes')}}">validate a route</a>
  </div>
  <div class="column">
    <a style="width:100%" class="button button-outline" href="{{url_for('list_tracks', context='activities')}}">validate an activity</a>
  </div>
  <div class="column">
    <a style="width:100%" class="button button-outline" href="{{url_for('upload_gpx')}}">upload GPX</a>
  </div>
  <div class="column">
    <a style="width:100%" class="button" href="{{url_for('objectives')}}">list objectives</a>
  </div>
</div>
{% endblock %}