{% extends 'base.html' %}

{% block header %}
  {% block title %}
    Create an new Challenge
  {% endblock %}
{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data">
  <div class="mb-3">
    <label for="basic-url" class="form-label">Challenge Name</label>
    <div class="input-group">
      <span class="input-group-text" id="basic-addon3">https://test.com/c/</span>
      <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" name="name">
    </div>
    <div class="form-text">give your challenge a name</div>
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="roundtrip" name="roundtrip">
    <label class="form-check-label" for="roundtrip">require the track to finish where it started</label>
  </div>
  <div class="mb-3">
    <label for="distance" class="form-label">Distance to cover</label>
    <input type="number" class="form-control" id="distance" name="distance">
  </div>
  <div class="mb-3">
    <label for="elevation" class="form-label">Elevation to cover</label>
    <input type="number" class="form-control" id="elevation" name="elevation">
  </div>
  <button type="submit" class="btn btn-primary">Submit Challenge</button>
</form>
{% endblock %}
